.GenericModal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    font-family: sans-serif;
    background-color: rgba(0, 0, 0, 0.338);
    top: 0;
    left: 0;

    .container {
        position: relative;
        width: fit-content;
        background-color: white;
        padding: 50px;
        border-radius: 5px;

        .exitIcon {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 2px;
            cursor: pointer;
            top: 15px;
            right: 15px;


            svg {
                position: absolute;
                stroke: rgb(93, 93, 93);
            }
        }

        .exitIcon:hover {
            svg {
                stroke: black;
            }
        }
    }
}