@import '@/util/CSS/constants.scss';

.UsernameModal {


    .input {
        position: relative;
        margin-top: 50px;

        .label {
            font-size: 11px;
            display: flex;
            position: absolute;
            background-color: white;
            top: -14px;
            left: 6px;
            padding: 8px 6px 0px 6px;
            color: rgb(155, 155, 155);

            .username {
                letter-spacing: 2px;
            }

            .star {
                margin-left: 5px;
                font-size: 14px;
            }

        }

        input {
            box-sizing: content-box;
            font-size: medium;
            border-radius: 3px;
            height: 30px;
            width: 180px;
            padding: 15px 10px 3px 10px;
            border: 1px solid white;
            outline: 1px solid rgb(190, 190, 190);
            letter-spacing: 1px;
        }

        input:hover {
            transition: 0.4s;
            outline: 1px solid black;
            border: 1px solid black;
        }


    }

    .focused {
        .label {
            .username {
                color: rgb(101, 101, 101);
            }

            .star {
                color: $light-green;
            }

        }

        input {
            outline: 1px solid black;
            border: 1px solid black;
        }
    }

    .remember {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        .label {
            letter-spacing: 2px;
            color: rgb(155, 155, 155);
            font-size: 16px;
        }

        .label.checked {
            transition: .2s;

            cursor: pointer;
            color: black;
        }

        .label:hover {
            transition: .2s;

            cursor: pointer;
            color: black;
        }

        .checkbox {
            margin: 10px;
            position: relative;
            width: 14px;
            height: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid black;
            border-radius: 2px;
            cursor: pointer;
            border: 1px solid white;
            outline: 1px solid rgb(190, 190, 190);
            background-color: white;
            transition: 0.1s;
            padding: 1px;

            svg {
                stroke: white;
            }


        }

        .checkbox.checked {
            background-color: $dark-gray;
            border: 1px solid $dark-gray;
            outline: 1px solid $dark-gray;

        }

    }

    .errorMessage {
        position: absolute;
        margin-top: 100px;
        color: rgb(255, 91, 91);
    }

    .buttonContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin-top: 100px;
    }


}