@import '@/util/CSS/constants.scss';

.TicTacToe {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid $neutral;
    padding: 50px;

    .board {
        position: relative;

        div {
            display: flex;

            div {
                box-sizing: border-box;
                width: 30px;
                height: 30px;
                border-top: 1px solid #dcdcdc;
                border-left: 1px solid #dcdcdc;

                svg {
                    circle {
                        stroke: $light-player1;
                    }

                    line {
                        stroke: $light-player2
                    }
                }
            }
        }
    }
}

#dark {
    .TicTacToe {

        circle {
            stroke: $dark-player1;
        }

        line {
            stroke: $dark-player2;
        }
    }
}