@import '@/util/CSS/constants.scss';


.SideBar {
  top: 0;
  left: 0;
  min-width: 400px;
  height: 100%;
  background-color: white;
  z-index: 8;
  font-family: sans-serif;
  letter-spacing: 1px;

  .activeBarName {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
  }

}

@media only screen and (max-width: 600px) {
  .SideBar {
    min-width: 100%;
  }
}