@import '@/util/CSS/constants.scss';

.Button {
    border: 2px solid black;
    color: $dark-gray;
    padding: 10px;
    font-family: 'LuckiestGuy';
    border-radius: 7px;
    cursor: pointer;
    background-color: white;
}

.Button:hover {
    background-color: rgb(200, 200, 200);
    font-size: 150px;
}