@import '@/util/CSS/constants.scss';

.GameOption {
    cursor: pointer;
    width: 180px;
    border: solid 7px $dark-gray;
    border-radius: 15px;
    transition: transform .2s;
    background-color: white;
    display: flex;
    flex-direction: column;

    .icon {
        margin: 10px;
    }

    .gameName {
        background-color: $dark-gray;
        width: 100%;
        height: 30px;
        color: white;
        padding-top: 15px;
        display: flex;
        justify-content: center;
        position: relative;
        letter-spacing: 2px;
        font-size: large;
        font-weight: lighter;

        .filler {
            position: absolute;
            width: 100%;
            height: 90%;
            top: 0;
            border: 4px solid $dark-gray;
            background-color: $dark-gray;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.GameOption:hover {
    transform: scale(1.1);
}