@import '@/util/CSS/constants.scss';

.InGameScore {
    display: flex;
    width: 100%;
    max-width: 500px;
    max-height: 60px;
    justify-content: space-around;
    margin-bottom: 30px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        font-weight: bold;

        .scoreIcon {
            flex-grow: 1;
            width: 30px;
            svg {
                margin: auto;
            }
        }
    }

    .player1 {
        stroke: $light-player1;
        color: $light-player1;
    }

    .player2 {
        stroke: $light-player2;
        color: $light-player2
    }

    .scales {
        color: $light-gray;
        .scoreIcon {
            padding: 0;

            svg {
                fill: $light-gray;

            }
        }
    }

}

#dark {
    .InGameScore {
        .player1 {
            stroke: $dark-player1
        }

        .player2 {
            stroke: $dark-player2
        }
    }

}