@import '@/util/CSS/constants.scss';

.InGameUsername {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: LuckiestGuy;
    font-size: medium;
    color: $dark-gray;
    margin-bottom: 20px;
}

#dark {}