@import '@/util/CSS/constants.scss';

$width: 350px;
$height: 80px;

.InvitationNotifications {
    .notification {

        position: fixed;
        width: $width;
        height: $height;
        background-color: $light-green;
        border-radius: 10px;
        color: white;
        font-family: sans-serif;
        font-size: large;
        padding: 20px;
        letter-spacing: 1px;
        z-index: 1;
        margin: 30px;
        right: 0;
        color: $dark-gray;

        .info {
            width: 80%;

            div {
                display: inline;
            }
        }

        .spacing {}

        .action {
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-around;

            div {
                font-family: 'LuckiestGuy';
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: max-content;
                height: max-content;

                div {
                    position: absolute;
                }

                div:hover {
                    font-size: larger;

                }
            }
        }

    }
}