@import '@/util/CSS/constants.scss';

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
  overflow: hidden;
}


.App::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  overflow: auto;
  z-index: -1;
  background-image: url("./util/images/menu.jpeg");
  transform: rotate(-30deg);
  background-position: top;
}