@import '@/util/CSS/constants.scss';

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  ::-webkit-scrollbar {
    position: absolute;
    width: 8px;
    border-radius: 8px;
    background-color: white;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #b4b4b4;
    border-radius: 8px;
    margin: 2px;
    width: 2px;
    cursor: pointer;

    &:hover {
      background-color: #888888;
    }
  }
}

.App::before {
  content: "";
  position: fixed;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  overflow: auto;
  z-index: -1;
  background-image: url("./util/images/menu.jpeg");
  transform: rotate(-30deg);
  background-position: top;
}