.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  overflow: auto;
  overscroll-behavior: contain;
}

@font-face {
  font-family: "LuckyestGuy";
  src: url('util/fonts/LuckiestGuy-Regular.ttf');
  font-weight: 600;
  font-style: normal;
}